<?xml version="1.0" encoding="UTF-8"?>

<web-app>

	<servlet>
		<servlet-name>First</servlet-name>
		<servlet-class>First</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>First</servlet-name>
		<url-pattern>/First</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GreetingServlet</servlet-name>
		<servlet-class>welcomeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GreetingServlet</servlet-name>
		<url-pattern>/GreetingServlet</url-pattern>
	</servlet-mapping>

	<servlet>
	<servlet-name>DateTimeServlet</servlet-name>
		<servlet-class>DateTimeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DateTimeServlet</servlet-name>
		<url-pattern>/DateTimeServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>xyz</servlet-name>
		<servlet-class>Second</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>xyz</servlet-name>
		<url-pattern>/HelloWorld</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>Greeting</servlet-name>
		<servlet-class>Greeting</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Greeting</servlet-name>
		<url-pattern>/Greeting</url-pattern>
	</servlet-mapping>



</web-app>